project:
  type: website

website:
  title: "Group of Preclinical studies & Quantitative histology"
  navbar:
    background: dark
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - darkly
      - brand
    css: styles.css
    toc: true


